VITE_SUPABASE_URL=https://fejtztnrwzvubeuusjax.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlanR6dG5yd3p2dWJldXVzamF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY3MjcsImV4cCI6MjA5NTI3MjcyN30.tjh_mdNPTocsjC4Kb0iNIdLL5zrdxdRuq7R9Iiv72y4
